body {
  background: silver;
  width: 100%;
  height: 100%;
}

.header {
  width: 80vw;
  margin: 0 auto;
  clear: both;
}

.containerizq {
  width: 48vw;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerder {
  width: 32vw;
  height: 100%;
  margin: 0 auto;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  width: 80vw;
}

.row {
  height: 100%;
  clear: both;
  width: 80vw;
}

.col-md-1 {
  width: 10%;
  float: left;
  background-color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-md-2 {
  width: 20%;
  background-color: pink;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-md-3 {
  width: 30%;
  float: left;
  background-color: blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-md-4 {
  width: 40%;
  float: left;
  background-color: yellow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-md-5 {
  width: 50%;
  background-color: green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

